.dice {
    padding: 6px 6px;
    font-family: Karla;
    font-weight: 700;
    font-size: 20.59px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
